@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <img src="~/kess1.jpg" height="550" width="1120"/>
    <h1 class="display-4">Welcome</h1>
    <p>

        This article needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed.
        Find sources: "Beauty salon" – news · newspapers · books · scholar · JSTOR (December 2013) (Learn how and when to remove this template message)

        Hair salon styling floor
        A beauty salon or beauty parlor (beauty parlour), or sometimes beauty shop, is an establishment dealing with cosmetic treatments for men and women.[1] There's a difference between a beauty salon and a beauty parlor which is that a beauty salon is a well developed space in a private location, usually having more features than a beauty parlor could have. Usually a beauty parlor concentrates on a specific treatment or beauty features such as styling either for men, women or for both. Also, a beauty parlor is a smaller and more community friendly place which is usually located at the owner's home. In some cases the owner is not only the boss, but probably the only worker, not having any other crew members. Other variations of this type of business include hair salons and spas.

        There is a distinction between a beauty salon and a hair salon and although many small businesses do offer both sets of treatments; beauty salons provide extended services related to skin health, facial aesthetics, foot care, nail manicures, aromatherapy — even meditation, oxygen therapy, mud baths and many other services.
    </p>

</div>
